{"filter":false,"title":"requirements.txt","tooltip":"/eap-company-crud/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":4},"end":{"row":1,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1579118459194,"hash":"c3ac146e19a6fa14864e73e2f11a06fb30b9553f"}