{"filter":false,"title":"requirements.txt","tooltip":"/jwt-cognito-verify/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":25},"end":{"row":0,"column":25},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"fd27a9ffdc9e5419c14da3c55995f366aa693222","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":11},"action":"remove","lines":["python-jose"],"id":2},{"start":{"row":0,"column":0},"end":{"row":0,"column":25},"action":"insert","lines":["python-jose[cryptography]"]}]]},"timestamp":1580962846445}