{"filter":false,"title":"requirements.txt","tooltip":"/eap-user-crud/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1579347453480,"hash":"fb5ac4eeb49ad8ea5e763d6d414f6113d1949c92"}